.messagesContainer {
  min-height: calc(100% - 70px);
  height: calc(100vh - 130px);
  height: calc(100dvh - 130px);
  padding: 12px;
  margin: 0 auto;
}
.messagesList {
  height: 100%;
  overflow: hidden scroll;
  transform: rotate(180deg);
  direction: rtl;
}
