// overwrite theme variables

//  theme
$primary: #9b45f1;
$secondary: #180030;
$dark: #171717;

$primary-border-subtle: #b77bf3;

$input-bg: rgba(255, 255, 255, 0.15);
$input-color: #fff;
$input-border-color: rgba(255, 255, 255, 0.3);
$input-placeholder-color: $input-border-color;

// import bootstrap styles

@import '~bootstrap/scss/bootstrap.scss';

// import fontawesome styles

@import '~@fortawesome/fontawesome-free/css/all.min.css';
